.form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: #323086;
}

.input {
  width: 200px;
  height: 25px;
  font-size: 16px;
  margin-right: 20px;
  border: 1px solid #4f6580;
  font-weight: 700;
  color: inherit;
  outline: none;
}

.button {
  width: 100px;
  height: 29px;
  cursor: pointer;
  border: 1px solid #4f6580;
  background-color: #fff3dc;
  font-weight: 500;
  color: inherit;
  outline: none;
}

.button:hover,
.button:focus {
  background-color: #455c77;
  color: #ffffff;
}
