.wrapper {
  width: 450px;
  padding: 20px 40px 40px;
  /* background-color: #c7d0d1; */
  background-color: #fff9ec;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.12);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.12);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.12);
  border: 1px solid rgb(235, 229, 229);
}

.button {
  min-width: 70px;
  padding: 3px 10px;
  height: 28px;
  cursor: pointer;
  border: 1px solid #4f6580;
  background-color: #fff3dc;
  font-weight: 500;
  color: #1c334d;
  outline: none;
  margin-left: auto;
  margin-bottom: 30px;
}

.button:hover,
.button:focus {
  background-color: #455c77;
  color: #ffffff;
}

.logout {
  display: flex;
}
