.wrapper {
  width: 450px;
  padding: 40px;
  background-color: #ff962c;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.12);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.12);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.12);
  border: 1px solid rgb(235, 229, 229);
}
