.wrapper {
  width: 400px;
  background-color: #fff9ec;
  padding: 50px 80px;
  color: #1c334d;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.12);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.12);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.12);
  border: 1px solid rgb(235, 229, 229);
}

.form {
  display: flex;
  flex-direction: column;
}

.form label:first-child {
  margin-bottom: 15px;
}

.input {
  width: 200px;
  height: 25px;
  font-size: 16px;
  margin-left: 20px;
  border: 1px solid #4f6580;
  font-weight: 700;
  color: inherit;
  outline: none;
}

.input:valid {
  border-color: #6dc06d;
}

.button {
  width: 100px;
  height: 28px;
  cursor: pointer;
  border: 1px solid #4f6580;
  background-color: #fff3dc;
  font-weight: 500;
  color: inherit;
  outline: none;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover,
.button:focus {
  background-color: #455c77;
  color: #ffffff;
}

.testData {
  margin-bottom: 10px;
}
.testData span {
  font-weight: 700;
}
